---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/freizeitplausch.css';
---

<BaseLayout title="Freizeitplausch">
  <section class="section ueber-uns">
    <div class="container">
      <h1>Anmeldung Freizeitplausch</h1>
      <p>
        Der Freizeitplausch findet in den Frühlingsferien statt und bietet Kindern ein
        abwechslungsreiches Programm mit insgesamt sechs spannenden Angeboten.
      </p>
      <p>Zuständig ist <strong>Nicole Salm</strong>.</p>
      <div class="about-image">
        <img src="/images/freizeitplausch/logo-freizeitplausch.png" alt="Freizeitplausch Bild" />
      </div>
    </div>
  </section>
</BaseLayout>