---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/weihnachtsbasteln.css';
---

<BaseLayout title="Weihnachtsbasteln">
  <section class="ueber-uns">
    <div class="container text-center">
      <h1>Weihnachtsbasteln</h1>
      <p>
        Das Weihnachtsbasteln findet jeweils Ende November im Pfarreitreff Sarmenstorf statt.<br />
        Das Anmeldeformular wird Mitte Oktober hochgeladen.
      </p>
      <p>Zuständig ist <strong>Vakant</strong></p>
    </div>
    <div class="about-image">
      <img src="/images/weihnachtsbasteln/logo-weihnachtsbasteln.png" alt="Weihnachtsbasteln Bild" />
    </div>
  </section>
</BaseLayout>